<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>settings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42AD2AE01EDC5D5300C6B9C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AD2AF41EDC5D5300C6B9C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AD2AFF1EDC5D5400C6B9C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
